<%-include('partials/header')-%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">

        <label for="">Title</label>
        <input type="text" class="form-control" name="comptxt">
        <label>Post</label>
        <textarea name="para" class="form-control" rows="5"></textarea>
    </div>
     
      <button type="submit" class="btn btn-primary">Submit</button>
</form>
<%-include('partials/footer')-%>

